:root {
  --blackish: #1B1919;
  --whiteish: rgb(247, 238, 222);
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--blackish);
  font-family: 'IBM Plex Serif', serif;
}
nav {
  height: 3.5rem;
  display: flex;
  justify-content: center;
  background-color: var(--whiteish);
}
a {
  text-decoration: none;
  color: var(--blackish);
  margin: 1rem;
  font-size: 20px;
}
h1 {
  text-align: center;
}
p,
h5,
h4,
h3,
h2,
h1 {
  color: var(--whiteish);
}
h1 {
  font-weight: 300;
}
h2{
  margin-left: 1rem;
  margin-right: 1rem;
}
h3 {
  font-weight: bolder;
}

p {
  font-weight: 14px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.article {
  /* height: 400px; */
  width: 300px;
  border: var(--whiteish) solid 2px;
  margin: 20px;
  padding: 1rem;
  border-radius: 15px;
}
.readMoreButton {
  width: 150px;
  border: var(--whiteish) solid 1px;
}
.cardImage {
  height: 150px;
  width: 100px;
  object-fit: cover;
}
footer {
  display: flex;
  justify-content: center;
  background-color: var(--whiteish);
  height: 3.5rem;
}
span {
  color: var(--blackish);
  margin-top: 1rem;
}

/* Article */

.articleImage {
  width: 300px;
  object-fit: fill;
  margin: 1rem;
}
.articlePage {
  display: flex;
  flex-wrap: wrap;
}
.textContainer {
  margin: 3rem;
  max-width: 500px;
}

.randomContainer {
  text-align: center;
  margin-bottom: 2rem;
}
button {
  height: 50px;
  width: 200px;
  border: var(--whiteish) solid 2px;
  border-radius: 15px;
  background-color: transparent;
  color: var(--whiteish);
  font-size: 20px;
}
/* About */

.aboutContainer{
  display: flex;
  justify-content: center;
}
.someImage{
  height: 100px;
}

/* Who are you */
.characterButton:hover{
color: var(--blackish);
background-color: var(--whiteish);
}
#character{
  font-size: 20px;
}