:root {
  --blackish: #010101;
  --whiteish: rgb(247, 238, 222);
}
/* @keyframes move {
  0% {
    transform: translateY(0px);
    opacity: 100%;
  }
  40% {
    transform: translateY(0px);
    opacity: 100%;
  }
  100% {
    transform: translateY(-400px);
    opacity: 0%;
  } */
/* } */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: var(--blackish);
  font-family: 'Bitter', serif;
}
.heroImage {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.darthIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
svg {
  fill:var(--whiteish);
  height: 100px;
}

/* Navbar */
nav {
  height: 3.5rem;
  display: flex;
  justify-content: center;
  background-color: var(--whiteish);
}
.navLink {
  text-decoration: none;
  color: var(--blackish);
  margin: 1rem;
  font-size: 1.1rem;
  font-weight: bold;
}
/* Greneral text */
p,
h5,
h4,
h3,
h2,
h1 {
  color: var(--whiteish);
}
h1,
h2 {
  letter-spacing: -1px;
}
h1 {
  font-size: 3rem;  
  text-align: center;

}
h2 {
  /* margin-left: 1rem;
  margin-right: 1rem; */
  font-size: 2rem;
  font-weight: normal;
}
h3 {
  font-weight: bolder;
}
p {
  font-weight: 1rem;
}
/* Game section */

.gameTextContainer {
  display: flex;
  display: block;
  justify-content: center;
  margin-left: 50px;
  margin-right: 50px;
}
.gameContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.questionContainer {
  margin: 15px;
}
.questionText {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
.ArtistButton {
  height: 40px;
  width: 120px;
  border: var(--whiteish) solid 2px;
  border-radius: 15px;
  background-color: transparent;
  color: var(--whiteish);
  font-size: 1.25rem;
}
.ArtistButton:hover {
  color: var(--blackish);
  background-color: var(--whiteish);
}
.gameText {
  margin: 20px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: lighter;
}

/* Movie articles */
.buttonContainer {
  display: flex;
  justify-content: center;
}
.movieInfo{
  text-align: center;
}
.sortButton {
  color: var(--blackish);
  background-color: var(--whiteish);
  margin-bottom: 20px;
  height: 30px;
  width: 100px;
  border-radius: 10px;
  font-size: 15px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.article {
  width: 300px;
  min-height: 540px;
  border: var(--whiteish) solid 2px;
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 15px;
}
.article:hover {
  border: var(--whiteish) solid 4px;
}
.cardImage {
  height: 150px;
  width: 100px;
  object-fit: cover;
}
.cardDescription {
  width: 260px;
  font-weight: lighter;
  font-size: 1.3rem;
}
/* Footer */
footer {
  display: flex;
  justify-content: center;
  background-color: var(--whiteish);
  height: 3.5rem;
  position: fixed;
  bottom: 0;
  width: 100vw;
}
span {
  color: var(--blackish);
  margin: 1rem 0.25rem 1rem 0.25rem;
}

/* Article page */
.articleImage {
  width: 300px;
  object-fit: fill;
  margin: 1rem;
}
.articlePage {
  display: flex;
  flex-wrap: wrap;
}
.textContainer {
  margin: 3rem;
  max-width: 500px;
}
/* Random page */
.randomContainer {
  text-align: center;
  margin-bottom: 2rem;
}
button {
  height: 50px;
  width: 200px;
  border: var(--whiteish) solid 2px;
  border-radius: 15px;
  background-color: transparent;
  color: var(--whiteish);
  font-size: 20px;
}

/* About */

.aboutContainer {
  display: flex;
  justify-content: center;
  height: calc(100vh - 127px);
  margin-top: 1rem;
}
.someImage {
  height: 100px;
  margin: 0.5rem;
}
/* Who are you */
.randomContainer {
  height: calc(100vh - 170px);
}
.characterButton:hover {
  color: var(--blackish);
  background-color: var(--whiteish);
}
#character {
  font-size: 20px;
}

@media screen and (min-width: 750px) {
  .ArtistButton {
    height: 50px;
    width: 150px;
    font-size: 20px;
  }
  .sortButton {
    color: var(--blackish);
    background-color: var(--whiteish);
    margin-bottom: 20px;
    height: 50px;
    width: 200px;
    border-radius: 15px;
    font-size: 20px;
  }
  .navLink {
    margin: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
  }
}
@media screen and (max-width: 340px) {
  .aboutContainer {
    display: grid;
    height: calc(100vh - 160px);
    margin-top: 1rem;
  }
}
